body{
    /* background: linear-gradient(135deg, #1B8AF1, #B58DED); */
    /* background: radial-gradient(circle, #4a148c, #6a1b9a, #311b92); */
    background: #8CD4EA;
    height: 100vh;
    width: 100%;
    text-align: center;
}

h2{
    font-family: 'Segoe UI', bold;
    font-size: 35px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

form{
    display: inline-block;
    align-items: center;
    height: 270px;
    width: 350px;
    margin-bottom: 170px;
}
.text_input{
    flex: 1;
    align-content: center;
    margin-bottom: 35px;
    width: 100%;
    height: 64px;
    color: white;
    /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19); */
}

.patient-dashboard-section{
    display: inline-block;
    background: #13143c;
    width: 90%;
    height: 100%;
    margin-top: 3%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center; /*Center items vertically*/
    justify-content: center;
}

