body{
    /* background: linear-gradient(135deg, #1B8AF1, #B58DED); */
    /* background: radial-gradient(circle, #4a148c, #6a1b9a, #311b92); */
    background: #0A0101;
    height: 100vh;
    width: 100%;
    text-align: center;
}

h4{
    font-family: 'Segoe UI', bold;
    font-size: 35px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

form{
    display: inline-block;
    align-items: center;
    height: 270px;
    width: 350px;
    margin-bottom: 170px;
}
.text_input{
    align-content: center;
    margin-bottom: 35px;
    width: 100%;
    height: 64px;
    color: white;
    /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19); */
}

.signup-section{
    display: inline-block;
    background: #2A0202;
    width: 434px;
    height: fit-content;
    margin-top: 3%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}